{% load static %}
<!-- Start about section -->
<section class="about__section section--padding pt-0 mb-5">
  <div class="container">
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 align-items-center">
      <div class="col">
        <div class="about__content">
          <h2 class="about__content--title mb-18">
            We Have This Builders Easy integrative.
          </h2>
          <div class="about__content--step mb-25">
            <p class="about__content--desc mb-20">
              Beyond more stoic this along goodness this sed wow ...
            </p>
            <ul class="mb-20">
              <li class="about__content--desc__list">
                Beyond drone is an to be contre unmanned aerial.
              </li>
              <li class="about__content--desc__list">
                With various equipment including tho drone.
              </li>
            </ul>
            <p class="about__content--desc style2">
              Beyond more stoic this along goodness this sed wow flusterd
              impressive
            </p>
          </div>
          <div class="about__content--author d-flex align-items-center mb-50">
            <div class="about__content--author__thumb">
              <img
                class="display-block"
                src="{% static 'assets/img/other/about-author.webp' %}"
                alt="about author thumb"
              />
            </div>
            <div class="about__content--author__text d-flex align-items-center">
              <div class="about__content--author__text--left">
                <h3 class="about__content--author__name text__secondary">
                  - Rubel Wilson,
                </h3>
                <span class="about__content--author__rank">Founder</span>
              </div>
              <img
                class="about__author--signature display-block"
                src="{% static 'assets/img/icon/signature.webp' %}"
                alt="signature"
              />
            </div>
          </div>
          <a class="about__content--btn primary__btn" href="#">Ask For Price</a>
        </div>
      </div>
      <div class="col">
        <div class="about__thumbnail">
          <img
            class="display-block"
            src="{% static 'assets/img/other/model-side.jpg' %}"
            alt="about-thumb"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about section -->
