{% load static %}
<section class="section--padding pt-5 mt-5 mb-5">
  <div class="container">
    <div class="section__heading text-center mb-50">
      <h2 class="section__heading--maintitle text__secondary mb-10">
        Přizpůsobit
      </h2>
      <p class="section__heading--desc">
        Vyber barvu tašky a popruhu, přidej text nebo vlastní obrázek a vytvoř
        si svůj vlastní design.
      </p>
    </div>
    <div class="row align-items-center">
      <!-- LEVY SLOUPEC -->
      <div class="col-md-8 col-12">
        <!-- Ovládání -->
        <div class="view-tabs">
          <button type="button" data-view="front">Předek</button>
          <button type="button" data-view="side">Bok</button>
        </div>

        <div
          class="stage position-relative"
          data-front-bg="{% static 'assets/img/customizer/bag_front.png' %}"
          data-side-bg="{% static 'assets/img/customizer/bag_side.png' %}"
        >
          <canvas id="canvasFront" width="800" height="500"></canvas>
          <canvas id="canvasSide" width="800" height="500"></canvas>
        </div>
      </div>
      <!-- PRAVY SLOUPEC -->
      <div class="col-md-4 col-12">
        <!-- výběr barvy tašky -->
        <div class="row mb-3">
          <div class="col-3">
            <label class="form-label">Barva 1</label>
          </div>
          <div class="col-9">
            <div
              id="colorSwatches"
              class="swatches d-flex flex-wrap gap-2"
              role="listbox"
              aria-label="Výběr barvy tašky"
            >
              <button
                class="swatch btn btn-outline-secondary p-0 is-selected form-control-color form-control"
                data-color="red"
                aria-label="Červená"
                title="Červená"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-color="black"
                aria-label="Černá"
                title="Černá"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-color="green"
                aria-label="Zelená"
                title="Zelená"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-color="blue"
                aria-label="Modrá"
                title="Modrá"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-color="ping"
                aria-label="Růžová"
                title="Růžová"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-color="grey"
                aria-label="Šedá"
                title="Šedá"
              ></button>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-3">
            <label class="form-label">Barva 2</label>
          </div>
          <div class="col-9">
            <div
              id="strapSwatches"
              class="swatches d-flex flex-wrap gap-2"
              role="listbox"
              aria-label="Výběr barvy tašky"
            >
              <button
                class="swatch btn btn-outline-secondary p-0 is-selected form-control-color form-control"
                data-strap="black"
                aria-label="Černá"
                title="Černá"
              ></button>
              <button
                class="swatch btn btn-outline-secondary p-0"
                data-strap="white"
                aria-label="Bílá"
                title="Bílá"
              ></button>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <label
            for="presetText"
            class="form-label bg-dark text-light text-center d-block p-2 rounded-3 mb-3 m-auto"
            >Text</label
          >
          <div class="row g-2 mb-3">
            <div class="col-12">
              <input
                id="presetText"
                type="text"
                class="form-control big-font"
                placeholder="Sem napiš text (max. 30 znaků)"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">
              <label for="fontFamily" class="form-label">Písmo</label>
            </div>
            <div class="col-9">
              <select id="fontFamily" class="form-select">
                <option value="Montserrat, system-ui, Arial">Montserrat</option>
                <option value="Anton, Impact, Arial Black">Anton</option>
                <option value="Pacifico, cursive">
                  Pacifico (ručně psané)
                </option>
                <option value="Arial, Helvetica, sans-serif">Arial</option>
                <option value="'Times New Roman', Times, serif">
                  Times New Roman
                </option>
                <option value="'Courier New', Courier, monospace">
                  Courier New
                </option>
              </select>
            </div>
          </div>

          <div class="row g-3 mb-3">
            <div class="col-3">
              <label for="fontSize" class="form-label">Velikost</label>
            </div>
            <div class="col-9">
              <input
                id="fontSize"
                type="range"
                class="form-range"
                min="10"
                max="180"
                value="20"
                disabled
              />
            </div>
          </div>
          <div class="row g-3 mb-4">
            <div class="col-3">
              <label for="fontColor" class="form-label">Barva</label>
            </div>
            <div class="col-9">
              <input
                id="fontColor"
                type="color"
                class="border-0 btn btn-outline-secondary p-0 w-100"
                value="#16e9a3"
                disabled
              />
            </div>
          </div>
          <div class="row g-3 mb-5">
            <div class="col-3">
              <label class="form-label d-block">Styl</label>
            </div>
            <div class="col-9">
              <div class="toolbar d-flex gap-2 justify-content-between">
                <button
                  class="btn btn-outline-dark w-25 p-2"
                  id="styleBold"
                  data-bs-toggle="button"
                  aria-pressed="true"
                  title="Tučné"
                >
                  B
                </button>
                <button
                  class="btn btn-outline-dark w-25"
                  id="styleItalic"
                  aria-pressed="false"
                >
                  <em>I</em>
                </button>
                <button
                  class="btn btn-outline-dark w-25"
                  id="styleUppercase"
                  aria-pressed="false"
                >
                  Aa
                </button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label
              for="productFile"
              class="form-label bg-dark text-light text-center d-block p-2 rounded-3 mb-3 m-auto"
              >Obrázek</label
            >
            <div class="row mb-3">
              <div class="col-10 pe-0 me-0">
                <input
                  id="productFile"
                  class="form-control"
                  type="file"
                  accept="image/*"
                />
              </div>
              <div class="col-2 ps-0">
                <button class="form-control" id="deleteImageBtn" disabled>
                  <!-- Feather-like trash icon -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15"
                    height="15"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path
                      d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"
                    ></path>
                    <path d="M10 11v6"></path>
                    <path d="M14 11v6"></path>
                    <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="row g-3 mb-5">
              <div class="col-3">
                <label for="imageSize" class="form-label">Velikost</label>
              </div>
              <div class="col-9">
                <input
                  id="imageSize"
                  type="range"
                  class="form-range"
                  min="10"
                  max="200"
                  value="20"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="product__variant--list quantity d-flex align-items-center mb-20 justify-content-between"
        >
          <div class="quantity__box">
            <button
              type="button"
              class="quantity__value quickview__value--quantity decrease"
              aria-label="quantity value"
              value="Decrease Value"
            >
              -
            </button>
            <label>
              <input
                type="number"
                class="quantity__number quickview__value--number"
                value="1"
                data-counter
              />
            </label>
            <button
              type="button"
              class="quantity__value quickview__value--quantity increase"
              aria-label="quantity value"
              value="Increase Value"
            >
              +
            </button>
          </div>
          <div class="product__details--info__price">
            <span class="current__price">599 Kč</span>
            <!-- <span class="old__price">$320.00</span> -->
          </div>
          <button class="primary__btn" type="submit">Do košíku</button>
        </div>
        <div class="product__variant--list mb-15">
          <button class="variant__buy--now__btn primary__btn" type="submit">
            Koupit nyní
          </button>
        </div>
        <div
          class="guarantee__safe--checkout d-flex align-items-center flex-column"
        >
          <h5 class="guarantee__safe--checkout__title">Bezpečná platba</h5>
          <img
            class="guarantee__safe--checkout__img display-block"
            src="{% static 'assets/img/other/safe-checkout.webp' %}"
            alt="Payment Image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
