{% load static %}
<!-- Start slider section -->
<section class="hero__slider--section slider__section--bg4 bg-light-gray">
  <div class="hero__slider--inner position__relative">
    <div class="container">
      <div class="hero__slider--activation swiper">
        <div class="hero__slider--wrapper swiper-wrapper">

          <!-- Slide 1: Customizer -->
          <div class="swiper-slide">
            <div class="hero__slider--items style4">
              <div class="row row-cols-md-2 row-cols-1 align-items-center">
                <div class="col col-sm-order">
                  <div class="slider__content style4">
                    <h2 class="slider__content--maintitle h1">Navrhni si svůj GymBag</h2>
                    <p class="slider__content--desc style4 d-sm-2-none">
                      Vyber barvu, napiš vlastní nápis a sleduj náhled v reálném čase. Jedinečný vak do posilky, přesně podle tebe.
                    </p>
                    <div class="slider__content--footer style4 d-flex align-items-center">
                      <a class="slider__content--btn primary__btn" href="#">Vyzkoušet customizer</a>
                      <div class="bideo__play slider__play--bideo">
                        <a class="bideo__play--icon glightbox" href="https://vimeo.com/115041822" data-gallery="video">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 31 37"><path data-name="Polygon 1" d="M16.783,2.878a2,2,0,0,1,3.435,0l14.977,25.1A2,2,0,0,1,33.477,31H3.523a2,2,0,0,1-1.717-3.025Z" transform="translate(31) rotate(90)" fill="currentColor"></path></svg>
                          <span class="visually-hidden">Play</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hero__slider--thumbnail style4">
                    <img class="hero__slider--thumbnail__img style4 display-block" src="{% static 'assets/img/slider/hero-bag-1.png' %}" alt="GymBag s vlastním nápisem – náhled v customizeru">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2: Kvalita & výdrž -->
          <div class="swiper-slide">
            <div class="hero__slider--items style4">
              <div class="row row-cols-md-2 row-cols-1 align-items-center">
                <div class="col col-sm-order">
                  <div class="slider__content style4">
                    <h2 class="slider__content--maintitle h1">Taška do posilky, co vydrží</h2>
                    <p class="slider__content--desc style4 d-sm-2-none">
                      Odolné materiály, pevné švy a chytré kapsy. Naše gymbagy zvládnou každodenní dřinu i cestu z tréninku.
                    </p>
                    <div class="slider__content--footer style4 d-flex align-items-center">
                      <a class="slider__content--btn primary__btn" href="#">Prohlédnout nabídku</a>
                      <div class="bideo__play slider__play--bideo">
                        <a class="bideo__play--icon glightbox" href="https://vimeo.com/115041822" data-gallery="video">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 31 37"><path data-name="Polygon 1" d="M16.783,2.878a2,2,0,0,1,3.435,0l14.977,25.1A2,2,0,0,1,33.477,31H3.523a2,2,0,0,1-1.717-3.025Z" transform="translate(31) rotate(90)" fill="currentColor"></path></svg>
                          <span class="visually-hidden">Play</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hero__slider--thumbnail style4">
                    <img class="hero__slider--thumbnail__img style4 display-block" src="{% static 'assets/img/slider/hero-bag-2.png' %}" alt="Detail odolného GymBagu – materiál a zpracování">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3: Dárek na míru -->
          <div class="swiper-slide">
            <div class="hero__slider--items style4">
              <div class="row row-cols-md-2 row-cols-1 align-items-center">
                <div class="col col-sm-order">
                  <div class="slider__content style4">
                    <h2 class="slider__content--maintitle h1">Dárek, který má jméno</h2>
                    <p class="slider__content--desc style4 d-sm-2-none">
                      Personalizovaný gymbag potěší každého sportovce. Přidej jméno, přezdívku nebo motiv a je hotovo.
                    </p>
                    <div class="slider__content--footer style4 d-flex align-items-center">
                      <a class="slider__content--btn primary__btn" href="#">Vytvořit dárek</a>
                      <div class="bideo__play slider__play--bideo">
                        <a class="bideo__play--icon glightbox" href="https://vimeo.com/115041822" data-gallery="video">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 31 37"><path data-name="Polygon 1" d="M16.783,2.878a2,2,0,0,1,3.435,0l14.977,25.1A2,2,0,0,1,33.477,31H3.523a2,2,0,0,1-1.717-3.025Z" transform="translate(31) rotate(90)" fill="currentColor"></path></svg>
                          <span class="visually-hidden">Play</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hero__slider--thumbnail style4">
                    <img class="hero__slider--thumbnail__img style4 display-block" src="{% static 'assets/img/slider/hero-bag-3.png' %}" alt="Personalizovaný gymbag jako dárek">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- /.hero__slider--wrapper -->
      </div>
    </div>
    <div class="slider__pagination style4 swiper-pagination"></div>
  </div>
</section>
<!-- End slider section -->
