{% load static %}
<!-- Start image with text section -->
<section class="image__with--text__section section--padding">
  <div class="container">
    <div class="row row-cols-md-2 row-cols-1 align-items-center">
      <div class="col">
        <div class="image__with--text__thumbnail">
          <img class="display-block" src="{% static 'assets/img/other/model-back.jpg' %}" alt="drone-image">
        </div>
      </div>
      <div class="col">
        <div class="image__with--text__content">
          <h2 class="image__with--text__title mb-18">Most Talented Builders Architects Drone.</h2>
          <p class="image__with--text__desc mb-25">Beyond more stoic this along goodness this sed wow manatee mongos ...</p>
          <div class="image__with--text__percent color-primary-2 mb-40">
            <ul>
              <li class="image__with--text__percent--list mb-25">
                <span class="image__with--text__percent--top d-flex justify-content-between align-content-center">
                  <span class="image__with--text__percent--content">Integrative control</span>
                  <span class="image__with--text__percent--content">58%</span>
                </span>
              </li>
              <li class="image__with--text__percent--list two">
                <span class="image__with--text__percent--top d-flex justify-content-between align-content-center">
                  <span class="image__with--text__percent--content">Design Device</span>
                  <span class="image__with--text__percent--content">77%</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="image__with--text__content--footer d-flex">
            <img class="display-block" src="{% static 'assets/img/other/text-shape.webp' %}" alt="text-shape">
            <p class="image__with--text__content--footer__desc">
              YEARS SINCE WE ESTABLISHED - <br> EXPERIENCE & STILL A GROWING <br> PROTFOLIO DAY BY DAY!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <img class="image__with--text__position--shape display-block" src="{% static 'assets/img/other/image-with-text-section-shape.webp' %}" alt="shape img"> {% endcomment %}
</section>
<!-- End image with text section -->
